<!DOCTYPE html>
<html>
<head>
  <title>Hello World</title>
  <style type="text/css" media="screen">
  </style>
</head>
<body>
	<h1><%= @message %></h1>
	<!-- Dither this image -->
	<img width="384" class="dither" src="<%=@img %>">
	
	<h3>Today is: <%= @day %></h3>
	
	<!-- don't dither this one -->
	<img width="384" src="images/powerpuff_girls.jpeg">
</body>
</html>