<!DOCTYPE html>
<html>
<head>
  <title>UK Parliament News</title>
  <style type="text/css">
    body {
      width: 384px;
      padding: 0px;
      margin: 0px;
      font-family:sans-serif;
    }
  </style>
</head>
<body>
	
	<p><strong><%= @headline %></strong>
	<br><%= @text %></p>

<p>Published: <%= @published %></p>

<p>Source: parliament.uk/business/news</p>

</body>
</html>