<!DOCTYPE html>
<html>
<head>
  <title>UK Parliament News</title>
  <style type="text/css">
    body {
      width: 384px;
      padding: 0px;
      margin: 0px;
      font-family:'Arial';
      border-top: 2px solid black;
      border-bottom: 2px solid black;
    }
    .bigger {font-size: 24px;}
    .smaller {font-size: 20px;}
  </style>
</head>
<body>

	<p class="bigger"><strong><%= @headline %></strong>
	<br><%= @text %></p>

	<p class="smaller"><strong>parliament.uk/business/news</strong>
	<br><%= @published %></p>

</body>
</html>