<!DOCTYPE html>
<html>
<head>
  <title>UK Parliament News for Little Printer</title>
  <style type="text/css">
    body {
      padding: 3%;
      font-family: 'Arial',sans-serif;
    }
    iframe {border: 1pt dotted gray;
    padding: 1%;
    width:384px;
    height:300px;}
  </style>
</head>
<body>
	
	<h1>UK Parliament news and calendar updates for Little Printer</h1>
	
	<p><a href="http://ukpnews.herokuapp.com">UKPNews</a> is a service that provides the most recent news item and the five most recent calendar updates from the UK Parliament site for BERG's <a href="http://bergcloud.com/littleprinter/">Little Printer</a>.</p>
	
	<p>Here's a <a href="/sample/">sample</a> of what the printed output looks like.</p>
	
	<iframe src="/sample/"></iframe>
	
		<p>Here's what the most recent edition <a href="/edition/">edition</a> looks like. If there's no recent news, nothing will be sent to your Little Printer.</p>

	<iframe src="/edition/"></iframe>

	<p>This is an unsupported service and <em>not a publication from the UK Parliament</em>. You can mail Robert Brook at <a href="mailto:robertbrook@fastmail.fm">robertbrook@fastmail.fm</a> with any comments.</p>
	
	<p>The source code for this application is available at <a href="https://github.com/robertbrook/lp-publication-hello-world">https://github.com/robertbrook/lp-publication-hello-world</a>. Sorry, I never got round to changing the name.</p>
	
	<p>Thanks to Phil Gyford, Alice Bartlett, Nick Ludlam and Fraser Lewry at BERG.</p>

</body>
</html>