<!DOCTYPE html>
<html>
<head>
  <title>UK Parliament News for Little Printer</title>
  <style type="text/css">
    body {
      padding: 3%;
      font-family: 'Arial',sans-serif;
    }
    iframe {border: 1pt dotted gray;
    padding: 1%;
    width:384px;
    height:300px;}
  </style>
</head>
<body>
	
	<h1>UK Parliament News for Little Printer</h1>
	
	<p><a href="http://ukpnews.herokuapp.com">UKPNews</a> is a service that provides the most recent news item from the UK Parliament site for the Littlle Printer.</p>
	
	<p>Here's a <a href="/sample/">sample</a> of what the printed output looks like.</p>
	
	<iframe src="/sample/"></iframe>
	
		<p>Here's what the most recent edition <a href="/edition/">edition</a> looks like. If there's no recent update, nothing will be sent to your Little Printer.</p>

	<iframe src="/edition/"></iframe>

	<p>This is an unsupported service and not a publication from the UK Parliament, but you could mail Robert Brook at <a href="mailto:mail@robertbrook.com">mail@robertbrook.com</a> if you have any comments.</p>
	
	<p>Thanks to Phil Gyford, Alice Bartlett, Nick Ludlam and Fraser Lewry at Berg.</p>

</body>
</html>